<div class="container">
  <form class="mb-5" #f="ngForm" (ngSubmit)="this.onSubmit(f)" novalidate>
    <div class="form-group mb-3">
      <label for="brand_name1">Insert brand name:</label>
      <input
        name="brand_name"
        class="form-control"
        placeholder="Enter brand name"
        ngModel
        required
        #brand_name="ngModel"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <table class="table-primary container">
    <thead>
      <tr>
        <th scope="col">BRAND ID</th>
        <th scope="col">BRAND NAME</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data; index as i">
        <th scope="row">{{ this.item.brand_id }}</th>
        <td>{{ this.item.brand_name }}</td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>
